.button{
    border: none;
    color: burlywood;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.primary{background-color: aqua;}
.secondary{background-color: azure; color: black;}
.success{background-color:green}
.danger{background-color: red};